body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    background-size: 100%;
    background-position: 50%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

img {
    user-select: none;
}

header {
    display: grid;
    grid-template-rows: 60px 25px;
}

footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
    bottom: 0;
    margin-top: 3rem;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    max-width: 100%;
    padding: 3rem;
    background-color: darkgray;
}

footer ul {
    display: flex;
    flex-direction: column;
}

.container {
    min-height: 1000px;
}

.h-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoimg {
    height: 100%;
}

.h-1 li {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    left: 10px;
    height: 45px;
    width: fit-content;
}

.logo-footer {
    position: relative;
    left: 10px;
    height: 100px;
    width: fit-content;
}

.hover {
    cursor: pointer;
}

.h-1 span {
    font-size: 0.8rem;
}

ul {
    display: flex;
    list-style: none;
    list-style: none;
    margin-bottom: 0;
    margin-right: 25px;
    gap: 10px;
}

li {
    display: inline;
}

li img {
    height: 20px;
}

i {
    color: black;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.search {
    position: relative;
}

.drop-login form {
    transform: translate(0, 50px) !important;
    width: 230px !important;
}

.menu-input {
    border-radius: 15px;
    border: 0;
    margin-right: 10px;
    height: 25px;
    width: 250px;
    background-image: url();
    border: 1px solid black;
}

.lupa {
    position: absolute;
    top: 7px;
    right: 20px;
    color: rgb(60, 60, 60);
    font-size: 0.8rem;
}

.h-2 {
    display: grid;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.h-2 ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.h-2 li {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    border: 0;
}

@media screen and (max-width: 767px) {
    footer {
        font-size: 0.5rem;
    }
}