* {
  user-select: text;
}

html,
body {
  margin: 0;
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  background-size: 100%;
  background-position: 50%;
  border: 0;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
}

header {
  display: grid;
  grid-template-rows: 60px 25px;
}

.h-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3fabf3;
  padding-inline: 20px;
}
h1 {
  text-align: center;
}

img {
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

footer {
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding: 20px;
  background-color: rgb(53, 53, 53);
}
footer p{
  color: white;
  text-align: center;
}
footer ul {
  display: flex;
  flex-direction: column;
}

.logoimg {
  height: 100%;
}

.footer-logoimg {
  height: 70px;
}
.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.logo {
  position: relative;
  left: 10px;
  height: 45px;
  width: fit-content;
}

.logo-footer {
  height: 70px;
}

.hover {
  cursor: pointer;
}

.h-1 span {
  font-size: 0.8rem;
}

ul {
  display: flex;
  list-style: none;
  list-style: none;
  margin-bottom: 0;
  margin-right: 25px;
  gap: 10px;
}

li {
  display: inline;
}

li img {
  height: 20px;
}

i {
  color: black;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.search {
  position: relative;
}

.search-li {
  display: flex;
  align-items: center;
}

form {
  width: 100%;
}

.drop-login form {
  transform: translate(0, 50px) !important;
  width: 230px !important;
}

.menu-input {
  border-radius: 15px;
  border: 0;
  margin-right: 10px;
  height: 25px;
  width: 250px;
  background-image: url();
  border: 1px solid black;
}

.lupa {
  position: absolute;
  top: 7px;
  right: 20px;
  color: rgb(60, 60, 60);
  font-size: 0.8rem;
}

.h-2 {
  display: grid;
  align-items: center;
  background-color: #353535;
}
.h-2 a{
  color: white;
}
.h-2 ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.h-2 li {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 767px) {
  footer {
    font-size: 0.5rem;
  }
}

/* PAGAMENTO */
.cart {
  display: flex;
  justify-content: center;
}

.checkout-panel {
    display: flex;
    flex-direction: column;
    width: 940px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  }
  .panel-body {
    padding: 45px 80px 0;
    flex: 1;
  }
   
  .title {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    color: #2e2e2e;
  }
   
  .step {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #efefef;
  }
   
  .step:after {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 22px;
    width: 225px;
    height: 6px;
    content: '';
    background-color: #efefef;
  }
   
  .step:before {
    color: #2e2e2e;
    position: absolute;
    top: 40px;
  }
   
  .step:last-child:after {
    content: none;
  }
   
  .step.active {
    background-color: #1abc9c;
  }
  .step.active:after {
    background-color: #1abc9c;
  }
  .step.active:before {
    color: #1abc9c;
  }
  .step.active + .step {
    background-color: #1abc9c;
  }
  .step.active + .step:before {
    color: #1abc9c;
  }
   
  .step:nth-child(1):before {
    content: 'Cart';
  }
  .step:nth-child(2):before {
    right: -40px;
    content: 'Confirmation';
  }
  .step:nth-child(3):before {
    right: -30px;
    content: 'Payment';
  }
  .step:nth-child(4):before {
    right: 0;
    content: 'Finish';
  }
  .payment-method {
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
  }
   
  .method {
    display: flex;
    flex-direction: column;
    width: 382px;
    height: 122px;
    padding-top: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgb(249, 249, 249);
    justify-content: center;
    align-items: center;
  }
   
  .card-logos {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
  }
   
  .radio-input {
    margin-top: 20px;
  }
   
  input.inp-r-pagamento[type='radio'] {
    display: inline-block;
  }
  .input-fields {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
   
  .input-fields label {
    display: flex;
    margin-bottom: 10px;
    color: #b4b4b4;
  }
   
  .info-pagamento {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: 50px;
    opacity: .5;
    color: #2e2e2e;
  }
   
  div[class*='column'] {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
    padding:20px;

  }
   
  .checkout-panel input[type='text'],
  .checkout-panel input[type='password'] {
    font-size: 16px;
    width: 100%;
    height: 50px;
    padding-right: 40px;
    padding-left: 16px;
    color: rgba(46, 46, 46, .8);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
  }
   
  .checkout-panel input[type='text']:focus,
  .checkout-panel input[type='password']:focus {
    border-color: rgb(119, 219, 119);
  }
   
  #date { background: url(img/icons_calendar_black.png) no-repeat 95%; }
  #cardholder { background: url(img/icons_person_black.png) no-repeat 95%; }
  #cardnumber { background: url(img/icons_card_black.png) no-repeat 95%; }
  #verification { background: url(img/icons_lock_black.png) no-repeat 95%; }
   
  .small-inputs {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
   
  .small-inputs div {
    width: 182px;
  }
  .entrega {
    width: 382px;
    padding-top: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    
  }
  .panel-footer {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 0 80px;
    background-color: rgb(239, 239, 239);
    justify-content: space-between;
    align-items: center;
  }
  .btn-pag {
    font-size: 16px;
    width: 163px;
    height: 48px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 1px;
    border: none;
    border-radius: 23px;
  }
   
  .back-btn {
    color: #1abc9c;
    background: #fff;
  }
   
  .next-btn {
    color: #fff;
    background: #1abc9c;
  }
   
  .btn-pag:focus {
    outline: none;
  }
   
  .btn-pag:hover {
    transform: scale(1.1);
  }
  .blue-border {
    border: 1px solid rgb(110, 178, 251);
  }
  .warning {
    border-color: #1abc9c;
  }
  .estado select{
    font-size: 16px;
    width: 100%;
    height: 50px;
    padding-right: 40px;
    padding-left: 16px;
    color: rgba(46, 46, 46, 0.8);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
  }
  .envio {
    font-size: 1.5rem;
  }

  
/* style do carrinho */

.CartContainer{
	width: 70%;
	height: 90%;
	background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
}

.Header{
	margin: auto;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Heading{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #2F3841;
}

.Action{
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
	border-bottom: 1px solid #E44C4C;
}

.Cart-Items{
	margin: auto;
	width: 90%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.image-box{
	width: 15%;
	text-align: center;
    
}
.about{
	height: 100%;
	width: 24%;
	justify-content: center;
	align-items: center;
	
}
.title{
	padding-top: 10px;
	line-height: 10px;
	font-size: 32px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
	align-items: center;
}

/* 
.subtitle{
	line-height: 10px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #909090;
} */

.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}
.count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.prices{
	height: 100%;
	text-align: right;
}
.amount{
	padding-top: 20px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.save{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}
.remove{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
}

.pad{
	margin-top: 5px;
}

hr{
	width: 66%;
	float: right;
	margin-right: 5%;
}
.checkout{
	float: right;
	margin-right: 5%;
	width: 28%;
}
.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}