@font-face {
    font-family: 'darkcrystal';
    src: url(../fontes/dark_crystal/dc_s.ttf) format('truetype');
}
@font-face {
    font-family: 'base 2';
    src: url(../fontes/base_02/Base\ 02.ttf) format('truetype');
}
@font-face {
    font-family: 'aerosol';
    src: url(../fontes/aerosol/Aerosol.ttf) format('truetype');
}
@font-face {
    font-family: 'maytra';
    src: url(../fontes/maytra/Maytra.ttf) format('truetype');
}
@font-face {
    font-family: 'slayer';
    src: url(../fontes/slayer_movie/Slayer\ movie.ttf) format('truetype');
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cards{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
.card{
    background-color: darkgrey;
    width: 75px;
    height: 100px;
}
.banners{
    position: relative;
}
.banner{
    position: absolute;
}
.banners .banner img{
    max-width: 100%;
}
h2{
    text-align: center;
}