main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.carousel{
    border: 5px solid red;
    height: 400px;
    width: 450px;
}

.bloco{
    background-color: black;
}