.topo {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
    margin: 10px 0px;
}

.carousel {
    display: flex;
    flex: 1;
    height: 100%;
    margin-right: 10px;
}

.carousel-item{
    height: 100%;
}

.carousel img{
    height: 100%;
    max-width: 100%;
}

.carousel-control-next-icon{
    background-color: black;
}

.carousel-control-prev-icon{
    background-color: black;
}

.bloco {
    flex: 1;
    flex-direction: column;
    background-color: white;
}

.bloco div{
    margin-top: 15px;
}

.bloco .nome{
    font-size: 24px;
}

.bloco p {
    font-size: 13px;
    margin-bottom: 5px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.preco {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: flex-end;
    align-self: flex-end;
}
.preco del{
    align-self: flex-start;
}
.preco span {
    font-size: 36px;
    color: green;
}

.compra {
    align-self: flex-end;
}

.compra button {
    padding: 10px;
    margin: 20px 0px;
    width: 200px;
    color: white;
}

.btn_comprar{
    border: none;
    border-radius: 10px;
    background-color: green;
    margin: 0 !important;
}

.btn_carrinho{
    border: none;
    border-radius: 10px;
    background-color: black;
    }

.divisao {
    background-color: black;
    height: 1px;
}

.pagamento{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}

.opcpagamento {
    background-color: lightgrey;
    height: 30px;
}

@media screen and (max-width: 767px){
    .topo{
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .pagamento{
        flex-direction: column-reverse;
    }
    .carousel_item{
        position: relative;
        top: 0;
        height: 400px;
        width: 400px;
    }
}